<!DOCTYPE html>
<html>
  <body>
    <h1>Congrats ${name}!</h1>
    <h2>Your account has been created</h2>
    <h3>Thank you for your registration!</h3>
    <div>Please click this link below to activate your account:</div>
    <div><a style="text-decoration: none; font-size: 1.3em; background-color: cornflowerblue; color: white; display: inline-flex; padding: 2px 15px; margin-top: 5px;" href="http://${domain}:${port}/api/email-verification/${hash}/${userId}">Activation Link</a></div>
    </div>
  </body>
</html>
